# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/esphome/__init__.py
/esphome/__main__.py
/esphome/automation.py
/esphome/codegen.py
/esphome/config.py
/esphome/config_helpers.py
/esphome/config_validation.py
/esphome/const.py
/esphome/core/__init__.py
/esphome/core/application.cpp
/esphome/core/application.h
/esphome/core/automation.h
/esphome/core/base_automation.h
/esphome/core/color.h
/esphome/core/component.cpp
/esphome/core/component.h
/esphome/core/config.py
/esphome/core/controller.cpp
/esphome/core/controller.h
/esphome/core/defines.h
/esphome/core/esphal.cpp
/esphome/core/esphal.h
/esphome/core/helpers.cpp
/esphome/core/helpers.h
/esphome/core/log.cpp
/esphome/core/log.h
/esphome/core/optional.h
/esphome/core/preferences.cpp
/esphome/core/preferences.h
/esphome/core/scheduler.cpp
/esphome/core/scheduler.h
/esphome/core/util.cpp
/esphome/core/util.h
/esphome/core/version.h
/esphome/coroutine.py
/esphome/cpp_generator.py
/esphome/cpp_helpers.py
/esphome/cpp_types.py
/esphome/espota2.py
/esphome/final_validate.py
/esphome/helpers.py
/esphome/jsonschema.py
/esphome/legacy.py
/esphome/loader.py
/esphome/log.py
/esphome/mqtt.py
/esphome/pins.py
/esphome/platformio_api.py
/esphome/storage_json.py
/esphome/types.py
/esphome/util.py
/esphome/voluptuous_schema.py
/esphome/vscode.py
/esphome/wizard.py
/esphome/writer.py
/esphome/yaml_util.py
/esphome/zeroconf.py
