# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/esphome/core/*
/esphome/coroutine.py
/esphome/cpp_generator.py
/esphome/cpp_helpers.py
/esphome/cpp_types.py
/esphome/espota2.py
/esphome/final_validate.py
/esphome/helpers.py
/esphome/jsonschema.py
/esphome/legacy.py
/esphome/loader.py
/esphome/log.py
/esphome/mqtt.py
/esphome/pins.py
/esphome/platformio_api.py
/esphome/storage_json.py
/esphome/types.py
/esphome/util.py
/esphome/voluptuous_schema.py
/esphome/vscode.py
/esphome/wizard.py
/esphome/writer.py
/esphome/yaml_util.py
/esphome/zeroconf.py
/esphome/config.py
/esphome/config_helpers.py
/esphome/config_validation.py
/esphome/const.py
/esphome/git.py
/esphome/__init__.py
/esphome/__main__.py
/esphome/automation.py
/esphome/codegen.py
